<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
    font-size: 25px;
    }
    #requirement {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 15px;
    }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Deck</title>
</head>
<body>
    <a href="../DeckManagement">Home</a>
    <form action="add" method="POST" id="AddDeck">
        <div>
        <label>Deck Name:</label>
        <input type="text" name="deck_name" required pattern="\S+" required />
        </div>
        <div id="requirement">(Name should have atleast one character)</div>
        <div>
        <div>
            <input type="submit" value = "Submit">
        </div>
</body>
</html>